# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
library.db

# Android / Frontend
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio Module files
*/build/
*/*/build/
*/*/*/build/
